.intro {
  text-align: center;

  &__wrapper {
    @include container;

    position: relative;

    &--index::before {
      position: absolute;
      content: "";

      width: 258px;
      height: 286px;

      top: -314px;
      left: -20px;

      background-image: url("../img/iphone-hand-mobile.png");
      background-repeat: no-repeat;
      background-size: 258px 286px;

      @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-mobile@2x.png");
        background-size: 258px 286px;
      }
    }
  }

  &--index {
    min-height: 207px;

    padding-top: 28px;
    padding-bottom: 30px;

    background-color: $bg-darkblue;
  }

  &__header {
    font-weight: lighter;

    font-size: 24px;
    line-height: 29px;

    &:first-child {
      padding-top: 30px;
    }

    &--index:first-child {
      padding-top: 70px;
    }

    &--toggle {
      display: none;
    }
  }

  &__download {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;

    min-height: 213px;
  }

  &__content {
    font-size: 14px;
    line-height: 24px;
  }
}

.intro *:first-child {
  margin-top: 0;
}

.intro *:last-child {
  margin-bottom: 0;
}

@media ($tablet-width) {
  .intro {
    background-color: transparent;

    &--index {
      @include container;
      position: relative;

      min-height: 555px;

      padding-top: 28px;
      padding-bottom: 36px;

      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-size: 700px 545px;
      background-position: -40px 74px;

      @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 700px 545px;
        background-position: -40px 74px;
      }
    }

    &__wrapper--index {
      width: 300px;
      margin-left: 0;
    }

    &__wrapper--index::before {
      background-image: none;
      width: 0;
      height: 0;
    }

    &::before {
      position: static;

      width: 0;
      height: 0;

      background-image: none;
    }

    &__header {
      font-size: 50px;
      line-height: 60px;

      padding: 0 36px;

      &:first-child {
        padding-top: 70px;
        margin-bottom: 31px;
      }

      &--index {
        font-size: 40px;
        line-height: 48px;
      }

      &--index:first-child {
        padding-top: 65px;
      }

      &--toggle {
        display: block;
      }
    }

    &__content {
      font-size: 18px;
      line-height: 24px;
    }

    &__download {
      min-height: 240px;
    }
  }

  .intro *:first-child {
    margin-top: 0;
  }
}

@media ($desktop-width) {
  .intro {
    clear: both;

    &--index {
      padding-bottom: 123px;

      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 1050px 645px;
      background-position: 18px 98px;

      @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1050px 645px;
        background-position: 18px 98px;
      }
    }

    &__wrapper--index {
      width: 300px;
      margin-left: 0;
    }

    &__header {
      &:first-child {
        padding-top: 64px;
      }

      &--index:first-child {
        padding-top: 80px;
        margin-bottom: 52px;
      }
    }

    &__header--photo {
      padding-left: 215px;
      padding-right: 215px;
    }

    &__header {
      &--index {
        font-size: 50px;
        line-height: 60px;
      }
    }

    &__download {
      min-height: 280px;
    }
  }
}
