.page-footer {
  position: relative;
  padding-top: 41px;

  &__wrapper {
    @include container;
  }

  &--inner {
    padding-top: 40px;
    padding-bottom: 46px;
  }

  &__contacts {
    text-align: center;

    padding-bottom: 41px;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 35px;

    font-size: 24px;
    line-height: 30px;

    font-weight: lighter;
  }

  &__sub-title {
    margin-top: 25px;
    margin-bottom: 3px;

    font-size: 18px;
    line-height: 21px;
  }

  &__info,
  &__mail-link {
    margin-top: 0;
    margin-bottom: 25px;

    color: #d22856;

    font-size: 24px;
    line-height: 29px;
  }

  &__mail-link {
    text-decoration: none;
  }

  &__mail-link:hover {
    color: #283645;
    text-decoration: underline;
  }

  &__mail-link:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }


  &__map {
    height: 200px;

    background-color: #f2f2f2;
    background-image: url("../img/bg-triangle-white-footer.svg"),
                      url("../img/bg-map.png");

    background-repeat: no-repeat;

    background-size: 100% auto,
                     320px auto;

    background-position: 50% 0,
                         50% 0;
    font-size: 0;
    line-height: 0;
  }

  &__copyright {
    @include container;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
  }

  &__copyright--hide {
    display: none;
  }

  &__developer {
    position: relative;
  }

  &__copyright-link {
    font-size: 14px;
    line-height: 18px;

    padding-right: 42px;

    color: #283645;
    text-decoration: none;

    .logo-htmlacademy {
      position: absolute;

      right: -10px;
      top: -4px;
    }

    &:hover .logo-htmlacademy {
      fill: #283645;
      transition: 0.2s;
    }

    &:active .logo-htmlacademy {
      opacity: 0.3;
      transition: 0.2s;
    }
  }

  &__call-us,
  &__write-us,
  &__visit-us {
    margin-bottom: 23px;
  }
}

@media ($tablet-width) {
  .page-footer {
    padding-top: 46px;

    &--photo {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__developer {
      padding-top: 12px;

      text-align: left;
    }

    &__title {
      font-size: 40px;
      line-height: 48px;

      margin-bottom: 45px;

      &--narrow {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__call-us {
      width: 300px;

      margin-bottom: 51px;

      float: left;
    }

    &__write-us {
      width: 300px;

      margin-bottom: 51px;

      float: right;
    }

    &__visit-us {
      clear: both;
    }

    &__contacts {
      padding-bottom: 26px;
    }

    &__copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      align-items: flex-start;

      padding-top: 36px;
      padding-bottom: 37px;

      background-color: white;
    }

    &__copyright-link {
      font-size: 14px;
      line-height: 18px;

      .logo-htmlacademy {
        right: -10px;
        top: 8px;
      }
    }

    &__sub-title {
      margin-bottom: 4px;
    }

    &__info,
    &__mail-link {
      line-height: 30px;
    }

    &__call-us,
    &__write-us {
      margin-bottom: 47px;
    }

    &__visit-us {
      width: 320px;

      margin-left: auto;
      margin-right: auto;
    }

    &__map {
      height: 377px;

      background-repeat: no-repeat,
                         repeat;
    }
  }
}

@media ($desktop-width) {
  .page-footer {
      padding-top: 63px;

    &__copyright-link {
      padding-right: 45px;

      font-size: 18px;
    }

    &__title {
      font-size: 50px;
      line-height: 60px;

      margin-bottom: 58px;

      &--narrow {
        width: 640px;
      }
    }

    &__call-us,
    &__write-us,
    &__visit-us {
      display: inline-block;
      vertical-align: top;
    }

    &__contacts {
      padding-bottom: 20px;
    }

    &__sub-title {
      margin-bottom: 24px;
    }

    &__map {
      height: 501px;
    }

    &__copyright {
      padding-top: 70px;
      padding-bottom: 72px;
    }

    &--inner {
      padding-top: 0;
    }
  }
}
