.price {
  padding-top: 91px;
  padding-bottom: 26px;

  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;

  &__wrapper {
    width: 100%;
    overflow: hidden;
  }

  &__switcher {
    display: none;
  }

  &__list {
    width: 840px;
    box-sizing: border-box;
    transform: translateX(-280px);
  }

  &__list-head {
    font-size: 18px;
    line-height: 30px;

    text-transform: uppercase;

    color: white;
    background-color: #283645;

    p {
      margin-top: 2px;
      margin-bottom: 0;

      font-size: 24px;
      font-weight: lighter;
    }
  }

  &__list-body {
    background-color: white;
  }

  &__hit {
    position: absolute;
    display: none;
  }

  &__value {
    position: relative;
    box-sizing: border-box;
    min-width: 278px;

    padding-top: 16px;
    padding-bottom: 20px;

    border-left: 2px solid #e5e5e5;

    &:nth-child(2) {
       border-left: none;
    }

    &--flag {
    .price__hit {
      display: block;

      top: 0;
      left: -2px;
    }

    &::before {
      position: absolute;
      content: "хит";

      height: 10px;
      width: 28px;

      top: 20px;
      left: 9px;

      font-size: 14px;
      line-height: 14px;

      text-align: center;
      vertical-align: center;
      text-transform: uppercase;
      color: #fff;
      background-color: #d22856;
      transform: rotate(-45deg);

      z-index: 10;
    }
  }

    &--empty {
      min-width: 0;

      margin: 0;
      padding: 0;

      font-size: 0;
      line-height: 0;

      background-color: transparent;
      border: none;
    }
  }

  &__field {
    box-sizing: border-box;

    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 22px;

    font-size: 14px;
    line-height: 30px;

    text-transform: uppercase;

    border: 2px solid #e5e5e5;
    border-top: none;
  }
}


@media ($mobile-width-only) {
  .price__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price__field--empty {
    min-width: 0;

    margin: 0;
    padding: 0;

    font-size: 0;
    line-height: 0;

    background-color: transparent;
    border: none;
  }

  #price-radio-1:checked ~ .price__list {
    transform: translateX(280px);
    transition: 0.5s;
  }

  #price-radio-2:checked ~ .price__list {
    transform: translateX(0px);
    transition: 0.5s;
  }

  #price-radio-3:checked ~ .price__list {
    transform: translateX(-280px);
    transition: 0.5s;
  }

  #price-radio-1:checked ~ .price__nav label[for="price-radio-1"],
  #price-radio-2:checked ~ .price__nav label[for="price-radio-2"],
  #price-radio-3:checked ~ .price__nav label[for="price-radio-3"] {
    background-color: white;
    border: 3px solid #283645;
  }
}

@media ($tablet-width) {
  .price {
    padding-top: 88px;
    padding-bottom: 70px;

    &__wrapper {
      @include container;
    }

    &__list-head {
      font-size: 16px;
    }

    &__list {
      transform: none;
      width: 620px;
    }

    &__value {
      min-width: 0;

      padding-top: 12px;
      padding-bottom: 7px;

      p {
        margin-top: 0;

        font-size: 18px;
      }

      &--content {
        padding-top: 12px;
        padding-bottom: 5px;
      }

      &--empty {
        background-color: #f2f2f2;
        border: none;

        border-bottom: 2px solid #e5e5e5;
      }
    }

    &__value--flag {
      .price__hit {
        display: block;

        top: -10px;
        left: -2px;
      }

      &::before {
        top: 13px;
        left: 2px;
      }
    }

    &__field {
      min-width: 154px;

      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 15px;
      padding-right: 15px;

      &--empty {
        text-transform: none;
      }

      &--ok,
      &--none {
        font-size: 0;
        line-height: 0;
      }

      &--cancel {
        font-size: 0;
        line-height: 0;
      }
    }
  }
}

@media ($desktop-width) {
  .price {
    padding-top: 147px;
    padding-bottom: 95px;

    &__list {
      min-width: 940px;
    }

    &__value {
      font-size: 18px;

      padding-top: 16px;
      padding-bottom: 22px;

      p {
        font-size: 24px;
      }
    }

    &__value--flag {
      .price__hit {
        display: block;

        top: 0px;
        left: -2px;
      }

      &::before {
        top: 20px;
        left: 9px;
      }
    }

    &__field {
      min-width: 233px;

      padding-top: 13px;
      padding-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;

      &--empty {
        font-size: 18px;
      }
    }
  }
}
