.social-links {
    padding-top: 3px;

    font-size: 0;

    margin: 0 auto;
    margin-bottom: 36px;

    &__link {
    display: inline-block;
    vertical-align: middle;

    position: relative;

    margin: 0 6px;

    width: 47px;
    height: 47px;

    font-size: 0;
    line-height: 0;

    background-color: white;

    border: 2px solid #e9ebec;
    border-radius: 50%;
  }

  &__link:hover {
    border-color: #283645;
    transition: 0.4s;
  }

  &__link:active {
    opacity: 0.1;
    transition: 0.1s;
  }
}

@media ($tablet-width) {
  .social-links {
    width: auto;

    margin-left: 68px;
    margin-bottom: 0;
  }
}

@media ($desktop-width) {
  .social-links {
    margin-left: 228px;
  }
}
